<!DOCTYPE html>
<html lang="de">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <title>Todo</title>
</head>
<body>
<h1>Todo List</h1>
<ul id="items">
    {{range .}}
        {{block "item" .}}
            <li>
                <input type="checkbox" id="item{{.Id}}" hx-delete="/item/{{.Id}}" hx-target="closest li" hx-swap="outerHTML" name="item{{.Id}}" value="{{.Id}}">
                <label for="item{{.Id}}"> {{.Text}}</label>
            </li>
        {{end}}
    {{end}}
</ul>
<form>
    <p><label for="input-todo">What should we do next?</label></p>
    <textarea id="input-todo" name="input-todo" rows="4" cols="50"></textarea>
    <br>
    <button type="button" hx-post="/item" hx-target="#items" hx-swap="innerHTML">Add</button>
</form>
</body>
</html>